body {
	background-image: url(img/rocket.jpg);
	background-repeat: no-repeat;
}

#pills-tab{
	font-size: 20px;
	color: rgb(255, 255, 255);
	font-family: 'Bebas Neue', cursive;
	margin-left: 1%;

}

.button{
	color: white;
	background-color: black;
	border: 2px solid;
	border-radius: 4px;
	border-color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	width: 120px;
	height: 80px;
	margin-top: 30%;
	margin-left: 1%;
}

.button:hover{
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	border: 2px solid;
	border-radius: 4px;
	border-color: white;
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	width: 120px;
	height: 80px;
	margin-top: 30%;
	margin-left: 1%;
}


.text{
	font-family: 'Bebas Neue', cursive;
	color: white;
	font-size: 30px;
	position: absolute;
	margin-top: 22%;
	margin-left: 1%;
}

div{
	background-color: rgba(0, 0, 0, 0.8);
	width: 600px;
	height: 180px;
	margin-left: 47%;
	margin-top: 17%;
	border-radius: 10px;
	position: absolute;
}

.text2{
	position: relative;
	font-family: 'Bebas Neue', cursive;
	color: white;
	font-size: 30px;
	margin-top: 3%;
	text-align: center;
}

