* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	font-family: 'Bebas Neue', cursive;
}

body {
	background-image: url(img/rocket.jpg);
	background-repeat: no-repeat;
}

#menu-h ul {
    list-style: none;
    padding: 0;
	font-size: 1.7em;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h ul li a:hover {
    background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

#menu-h ul li:last-child a {
    float: right;
    background-color: rgb(24, 139, 233);
}

.imagem-produto{
    width: 250px;
    height: 180px;
    object-fit: cover;
    object-position: center;
}